# Copy this file as ".env" in the root folder near the .env-sample file
# Then fill all variables

# database configuration
DB_ROOT_PASSWORD=
DB_NAME=
DB_USER_NAME=
DB_USER_PASSWORD=

# local services ports configuration
PHPMYADMIN_PORT=
DB_PORT=
